@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

.is-loading {
  color: transparent !important;
  position: relative;
}

.is-loading::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: -12px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: rotation 600ms linear infinite;
}